body.about {

	.tabs nav {
		background-color: #562E2C;
		padding-top: 0;
		display: flex;
		justify-content: space-between;
		max-width: 1024px;
		margin: 0 auto;

		a {
			color: #fff;
			font-size: 16px;
			font-weight: normal;
			padding: 15px;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}

		.selected {
			background-image: none;
		}

		img {
			width: 17px;
			height: 26px;
			margin-top: 15px;
		}
	}

}

body.about .tabs {
	position: relative;
	background-image: url("../img/about-bg.gif");
	background-repeat: no-repeat;
	background-size: 100vw auto;
	min-height: 100vh;
}

body.about .block-about-person {
	background: #fff;
	padding: 20px;
	margin-bottom: 60px;
	box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.5);
}

body.about .tab {
	display: none;
	padding-top: 300px;
}

body.about .tab.selected {
	display: block;
}

body.about .person-inner {
	display: flex;
}

body.about .person-text {
	padding: 0 4% 0 6%;
}

body.about .person-image img {
	width: 260px;
	height: auto;
}

body.about .block-about-text {
	background: #fff;
	padding: 40px;
	margin-bottom: 40px;
	box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.5);
}

body.about .block-about-text h3 {
	text-align: center;
	margin-bottom: 20px;
}

body.about .text-body {
	font-size: 22px;
	line-height: 30px;
}

body.about .text-body p {
	margin-bottom: 1em;
}

body.about .image-credit {
	position: absolute;
	bottom: 5px;
	left: 40px;
	font-size: 14px;
}

@media only screen and (max-width: 538px) {



}
