body.chapters {
	background-image: url("../img/waves.jpg");
	background-size: 600px auto;
	background-attachment: fixed;
	animation-name: waves;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes waves {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -600px 0;
	}
}

body.chapters h2 {
	color: #000;
}

.chapters-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	max-width: 800px;
	margin: 0 auto 40px auto;
}

.chapters-container > * {
	width: 50%;
	text-align: center;
}

.block-chapters-chapter h4 {
	display: inline-block;
	width: 250px;
	padding: 40px;
	background-image: url("../img/paint.png");
	background-size: 100% 100%;

	@include mobile {
		& {
			width: 150px;
			font-size: 18px;
			line-height: 22px;
			padding: 20px;
		}
	}
}

.chapters-form {
	background: #E5E2D9;
	padding: 40px 0;

	ul {
		margin: 1em 0;
	}

	 ul li {
		list-style: circle;
		margin-left: 1.5em;
	}
}

.chapters-response {
	font-weight: bold;
	margin: 110px 0 20px 0;
}

.acf-fields > .acf-field[data-name="flex-fields"] {
	padding: 0;
}

.acf-fields > .acf-field[data-name="flex-fields"] .acf-fields {
	background: transparent;
	border: none;
}

.acf-field[data-name="flex-fields"] > .acf-label {
	display: none;
}

.acf-field[data-name="flex-fields"] .acf-fields {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;

	@include mobile {
		& {
			display: block;
		}
	}
}

.acf-field[data-name="flex-fields"] .acf-fields .acf-field {
	width: calc(50% - 20px);

	@include mobile {
		& {
			width: auto;
		}
	}
}
