footer {
	color: #fff;
	background: #000;
	font-size: 14px;
}

footer a {
	color: #fff;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

footer .container {
	padding: 40px 15px 60px 15px;
	max-width: 1024px;
}

footer nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

footer nav .identity {
	font-size: 22px;
}

footer nav ul {
	display: flex;
	width: 50%;
	flex-flow: row nowrap;
	justify-content: space-between;
}

footer nav li {
	display: inline;
}

footer nav .social a {
	display: inline-block;
	border: 1px solid #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 40px;
	margin-top: -25px;
	transition: 0.2s all ease-out;
}

footer nav .social a:hover {
	color: #000;
	background: #fff;
}

footer .legal {
	margin-top: 30px;
	font-size: 12px;
	text-align: right;
}

@media only screen and (max-width: 710px) {

	footer nav,
	footer nav ul {
		display: block;
		position: relative;
	}

	footer nav ul {
		width: 100%;
		height: 100px;
		margin-top: 15px;
	}

	footer nav li {
		display: inline-block;
		padding-right: 15px;
	}

	footer nav .social {
		position: absolute;
		top: 60px;
	}

	footer nav .twitter {
		left: 0;
	}

	footer nav .instagram {
		left: 75px;
	}

	footer nav .vimeo {
		left: 150px;
	}

	footer .legal {
		text-align: left;
	}

}
