body.home #content {
	background-image: url("../img/person.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: calc(50vw + 100px) calc(100vh - 400px);
	background-size: 265px auto;
}

body.home section {
	position: relative;
	min-height: 100vh;
}

body.home section.narrow {
	width: 60%;
}

body.home .scrolly h2 {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

body.home .wide {
	width: 100%;
}

body.home .wide img {
	width: 100%;
	height: auto;
}

body.home .head-room {
	margin-top: calc(50vh - 45px);
}

body.home .leg-room {
	margin-bottom: 50vh;
}

body.home img.logo {
	position: absolute;
	width: 200px;
	height: auto;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
}

body.home .our-work {
	background: #EBE7E2;
	min-height: calc(100vh - 75px - 30px);
}

body.home .our-work h2 {
	font-weight: 600;
	text-align: center;
	padding: 15vh 0 10vh 0;
	font-size: 48px;
	line-height: 48px;
}

@media only screen and (max-width: 785px) {

	body.home .scrolly h2 {
		top: 45%;
		font-size: 40px;
		line-height: 55px;
	}

	body.home #content {
		background-position: right calc(100vh - 400px);
	}

	body.home section.wide {
		width: 100vw;
		margin-left: -15px;
		margin-right: -15px;
	}

	body.home .our-work h2 {
		margin-top: 10vh;
		font-size: 36px;
		line-height: 36px;
	}
}

@media only screen and (max-width: 538px) {

	body.home {

		#content {
			background-attachment: scroll;
			background-position: center calc(50vh - 100px);
			background-size: 150px auto;
		}

		section.narrow {
			width: auto;
			min-height: calc(50vh - 30px);
			padding-top: 40px;
		}

		.scrolly h2 {
			text-align: center;
			font-size: 32px;
			line-height: 32px;
			position: static;
			margin-top: 50px;
			width: 100%;
			transform: none;
		}

		section.wide {
			min-height: 0;
		}

		section.head-room {
			margin-top: 0;
		}

		section.logo {
			display: none;
		}

		.our-work {
			margin-top: 200px;
			padding-bottom: 30px;
		}

		.our-work h2 {
			padding: 50px 0 0 0;
			margin-top: 100px;
			font-size: 30px;
			line-height: 30px;
			color: #542D2B;
		}

		.our-work ul {
			display: block;
		}

		.our-work-links li {
			padding: 40px;
			width: auto;
		}

		.our-work li a {
			width: auto;
			padding: 40px;
			margin-bottom: 10px;
		}

		.our-work li .label {
			color: #542D2B;
			font-size: 22px;
			line-height: 28px;
			padding: 20px;
		}
	}
}
