@font-face {
	font-family: 'Proxima Nova';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/ProximaNova-Regular/font.woff2') format('woff2'),
	     url('../fonts/ProximaNova-Regular/font.woff') format('woff');
}

@font-face {
	font-family: 'Proxima Nova';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/ProximaNova-Bold/font.woff2') format('woff2'),
	     url('../fonts/ProximaNova-Bold/font.woff') format('woff');
}

@font-face {
	font-family: 'Proxima Nova';
	font-weight: normal;
	font-style: italic;
	src: url('../fonts/ProximaNova-RegularIt/font.woff2') format('woff2'),
	     url('../fonts/ProximaNova-RegularIt/font.woff') format('woff');
}

@font-face {
	font-family: 'Proxima Nova';
	font-weight: bold;
	font-style: italic;
	src: url('../fonts/ProximaNova-BoldIt/font.woff2') format('woff2'),
	     url('../fonts/ProximaNova-BoldIt/font.woff') format('woff');
}

@font-face {
	font-family: 'Proxima Nova';
	font-weight: 900;
	font-style: normal;
	src: url('../fonts/ProximaNova-Black/font.woff2') format('woff2'),
	     url('../fonts/ProximaNova-Black/font.woff') format('woff');
}

body {
	font-family: 'Proxima Nova', sans-serif;
	font-size: 18px;
	line-height: 24px;
	background-image: url("../img/bg.jpg");
	background-attachment: fixed;
}

a {
	color: #000;
}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

p {
	margin-bottom: 1em;
}

.container {
	margin: 0 auto;
	max-width: 930px;
	padding: 0 15px;
}

h2 {
	font-weight: 900;
	font-size: 50px;
	line-height: 62px;
}

h3 {
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: 2px;
	margin-bottom: 15px;
	text-align: center;
}

h4 {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 15px;
}

img {
	width: 100%;
	height: auto;
}

.page-title {
	font-weight: bold;
	font-size: 45px;
	line-height: 45px;
	text-align: center;
	padding: 50px 0 35px 0;
	color: #542D2B;
}

.clear {
	clear: both;
}

body.error404 .error {
	padding: 40px 0 120px 0;
	min-height: calc(100vh - 190px - 75px);
}

.button {
	background: #fff;
	margin-left: 15px;
	padding: 5px 15px;
	transition: 0.2s all ease-out;
	text-decoration: none;
	text-transform: uppercase;
}

.button:hover {
	text-decoration: none;
	color: #fff;
	background: #000;
}

.acf-form-submit {
	text-align: right;
}

#form {
	margin-top: 20px;
}

#form .button {
	border: none;
	margin-left: 0;
	font-family: 'Proxima Nova', sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
}

#form .acf-fields > .acf-field {
	padding-left: 0;
	padding-right: 0;
	border-top: none;
}
