body.work .resize-bg {
	background-image: url("../img/work-bg.jpg");
	background-size: 100vw auto;
}

body.work {
	.mobile-resize-bg {
		display: none;
		background-image: url("../img/work-bg.jpg");
		background-size: 100vw auto;
	}

	@include mobile {
		.mobile-resize-bg {
			display: block;
		}

		.desktop-resize-bg {
			background-image: none;
		}
	}
}

body.work section > .container {
	max-width: 700px;
}

body.work .page-content {
	font-size: 18px;
	line-height: 24px;
	padding-left: 100px;

	@include mobile {
		padding-left: 0;
	}
}

.our-work-links {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

	@include mobile {
		display: block;
		margin-bottom: 40px;
	}
}

.our-work-links li {
	display: block;
	width: 233px;
	height: 233px;
}

body.work .our-work-links li {
	width: 200px;
	height: 200px;

	@include mobile {
		padding: 40px 40px 0 40px;
		width: auto;
		margin-bottom: 5px;
	}
}

.our-work-links a {
	position: relative;
	display: block;
	height: 100%;
	color: #000;
	background-color: #ADB8AE;
	text-decoration: none;
}

.our-work-links a .label {
	position: absolute;
	top: 50%;
	left: 16.5px;
	width: calc(100% - 33px);
	transform: translateY(-50%);
	font-size: 28px;
	line-height: 38px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
}

body.work .our-work-links a .label {
	font-size: 18px;
	line-height: 22px;
	transition: 0.2s all ease-out;
}

body.work .our-work-links a:hover .label {
	transform: translateY(-70%);
}

.our-work-links a .hover {
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 40px 25px;
	font-size: 20px;
	line-height: 28px;
	background-color: #D0DDD1;
	transition: 0.2s all ease-out;
}

.our-work-links a .wide {
	padding-left: 20px;
	padding-right: 0;
}

.our-work-links a:hover .hover {
	opacity: 1;
}

body.work .our-work-links .hover {
	display: none;
}

body.voices .intro {
	text-align: center;
}

body.voices .resize-bg {
	background-image: url("../img/voices-bg.jpg");
	background-size: 100vw auto;
}

body.voices .fixed {
	position: fixed;
	z-index: 0;
}

body.voices .scrolly {
	position: absolute;
	z-index: 1;
	left: 0;
	width: 100vw;
}

body.voices #voices-content {
	position: relative;
}

body.voices .voices-links {
	padding-top: 40px;
	padding-bottom: 40px;
}

body.voices .block-voices-link {
	margin-top: 220px;
	text-align: center;

	@include mobile {
		margin-top: 100px;
	}
}

body.voices .block-voices-link h3 {
	display: inline-block;
	background: #E8E4DC;
	padding: 0 5px;
	font-weight: normal;
}

body.voices .voices-link-image {
	max-width: 675px;
	margin: 20px auto 0 auto;
}

body.voices .voices-link-image img {
	width: 100%;
	height: auto;
}

body.education {
	background-color: #f9f7f6;
	background-repeat: no-repeat;
	background-image: url("../img/education-bg.gif");
	background-size: 100vw auto;
	background-position: bottom;
	background-attachment: fixed;
}

body.education .intro {
	background: #E8E4DC;
	padding-bottom: 30px;
}

body.education .videos {
	margin-top: calc(100vh - 75px);
	color: #fff;
	background: #562E2C;
	padding-bottom: 40px;
}

.block-education-video {
	padding-top: 40px;
	text-align: center;
	margin: 0 auto;
}

.education-video-image {
	max-width: 675px;
	margin: 20px auto 0 auto;
}

.education-video-image img {
	width: 100%;
	height: auto;
}

body.education .books {
	background: #E8E4DC;
	padding-top: 40px;
	padding-bottom: 40px;
}

.books-container {
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;

	@include mobile {
		font-size: 16px;
		line-height: 20px;
	}
}

.block-education-book {
	width: calc(33% - 11px);
	margin-right: 15px;
	margin-bottom: 30px;
}

.block-education-book:nth-child(3n+3) {
	margin-right: 0;
}

.advocacy-intro {
	background-image: url("../img/bg.jpg");
	background-size: 100vw auto;
	height: 460px;
}

.advocacy-video {
	position: fixed;
	top: 75px;
	width: 100%;
	color: #fff;
	background: #000;
	height: 460px;
}

.advocacy-resources {
	color: #fff;
	background: #562E2C;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	line-height: 42px;
	padding: 40px;
}

.advocacy-resources .container {
	max-width: 450px;
}

body.advocacy {
	background: #562E2C;
}

#advocacy-content {
	position: relative;
}

.advocacy-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 1;
}

.advocacy-bottom {
	position: absolute;
	top: 460px;
	left: 0;
	width: 100vw;
	z-index: 1;
}

.advocacy-video .container {
	max-width: 650px;
}

.block-advocacy-video {
	position: relative;
	margin: 20px auto 0 auto;
	text-align: center;
	height: 395px;

	@include mobile {
		& {
			padding: 0 15px;
		}
	}
}

.block-advocacy-video h3 {
	font-weight: normal;
	margin-bottom: 5px;
	font-size: 24px;
}

.advocacy-video-intro {
	padding: 40px;
	font-size: 24px;
	line-height: 30px;
	text-align: left;

	@include mobile {
		& {
			font-size: 16px;
			line-height: 20px;
		}
	}
}

.advocacy-video-embed {
	display: none;
	width: 100%;
	height: 0;
	padding-top: 56.25%;
	overflow: hidden;
	position: relative;
}

.advocacy-video-embed iframe {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.advocacy-video-placeholder {
	display: none;

	img {
		width: 100%;
		height: auto;
	}
}

.advocacy-video-prev {
	display: none;
	position: absolute;
	left: -40px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 30px;
	cursor: pointer;

	@include mobile {
		& {
			left: -10px;
		}
	}
}

.advocacy-video-next {
	position: absolute;
	right: -40px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 30px;
	cursor: pointer;

	@include mobile {
		& {
			right: -10px;
		}
	}
}

.advocacy-video-scroll {
	color: #fff;
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

.advocacy-facts {
	background-image: url("../img/bg.jpg");
	background-size: 100vw auto;
	padding: 40px 0;
	text-align: center;
}

.facts-container {
	display: flex;
	justify-content: space-between;

	@include mobile {
		& {
			display: block;
		}
	}
}

.block-advocacy-fact {
	width: calc(25% - 20px);

	@include mobile {
		& {
			width: auto;
		}
	}
}

.advocacy-messages {
	background: #E7E3DB;
	padding: 40px 0;
}

.advocacy-messages h3 {
	text-align: center;
}

.messages-container {
	display: flex;
	flex-flow: row wrap;

	@include mobile {
		& {
			display: block;
		}
	}
}

.block-advocacy-message {
	width: calc(33%);
	margin-bottom: 40px;

	@include mobile {
		& {
			width: auto;
		}
	}
}

.block-advocacy-message:nth-child(2n+1) {
	margin-right: 33%;

	@include mobile {
		& {
			margin-right: 0;
		}
	}
}

.advocacy-call {
	background: #FCFAF9;
}

.advocacy-call .container {
	max-width: 1024px;
}

.block-advocacy-call {
	padding: 40px 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	@include mobile {
		& {
			display: block;
		}
	}
}

.advocacy-call-column {
	width: calc(50% - 40px);

	@include mobile {
		& {
			width: auto;
		}
	}
}

.block-advocacy-call h3 {
	font-weight: normal;
	letter-spacing: 0;
}

.block-advocacy-call .text-body {
	margin-bottom: 30px;
}
