header {
	position: fixed;
	background: #A27F71;
	padding: 20px;
	width: 100%;
	height: 90px;
	top: 0;
	left: 0;
	z-index: 1;
}

body.logged-in header {
	top: 32px;
}

header nav {
	display: flex;
	justify-content: space-between;
	max-width: 1024px;
	margin: 0 auto;
}

header nav .identity {
	width: 225px;
	height: auto;
	vertical-align: top;
}

header nav ul {
	margin-top: 8px;
}

header nav li {
	display: inline;
	font-weight: bold;
	line-height: 35px;
}

header nav li a {
	color: #000;
	text-decoration: none;
}

header nav li a:hover {
	text-decoration: underline;
}

header nav li.separator::after {
	font-weight: normal;
	content: "|";
	padding: 0 5px 0 10px;
}

header nav .button a {
	background: #fff;
	margin-left: 15px;
	padding: 5px 15px;
	transition: 0.2s all ease-out;
}

header nav .button a:hover {
	text-decoration: none;
	color: #fff;
	background: #000;
}

header nav .menu,
#menu {
	display: none;
}

header nav .menu a {
	margin-left: 0;
	background: transparent;
}

@media only screen and (max-width: 785px) {

	#wpadminbar {
		display: none;
	}

	body.logged-in header {
		top: 0;
	}

	header {
		padding: 12px 10px;
		height: 60px;
	}

	header nav .identity {
		width: 165px;
	}

	header nav ul {
		margin-top: 0;
	}

	header nav li {
		display: none;
	}

	header nav .button {
		display: inline-block;
	}

	header nav .menu a {
		display: inline-block;
		width: 40px;
		padding: 0 15px;
	}

	header nav .menu a:hover {
		background-color: transparent;
	}

	#menu {
		display: block;
		height: 0;
		overflow: hidden;
		transform: height 0.2s ease-out;
		background: #000;
		color: #fff;
		margin-top: 12px;
		margin-left: -10px;
		margin-right: -10px;
	}

	#menu.open {
		height: auto;
		padding: 10px 0;
	}

	#menu a {
		display: block;
		color: #fff;
		text-decoration: none;
		padding: 10px 15px;
		font-size: 1.2em;
	}

}
