body.home #content {
	background-image: url("../img/person.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: calc(50vw + 100px) calc(100vh - 400px);
	background-size: 265px auto;
}

body.home section {
	position: relative;
	min-height: 100vh;
}

body.home section.narrow {
	width: 60%;
}

body.home .scrolly h2 {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

body.home .wide {
	width: 100%;
}

body.home .wide img {
	width: 100%;
	height: auto;
}

body.home .head-room {
	margin-top: calc(50vh - 45px);
}

body.home .leg-room {
	margin-bottom: 50vh;
}

body.home img.logo {
	position: absolute;
	width: 200px;
	height: auto;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
}

body.home .our-work {
	background: #fff;
	min-height: calc(100vh - 90px - 30px);
}

body.home .our-work h2 {
	font-weight: 600;
	text-align: center;
	padding: 15vh 0 10vh 0;
	font-size: 48px;
	line-height: 48px;
}

@media only screen and (max-width: 785px) {

	body.home .scrolly h2 {
		top: 45%;
		font-size: 40px;
		line-height: 55px;
	}

	body.home #content {
		background-position: right calc(100vh - 400px);
	}

	body.home section.wide {
		width: 100vw;
		margin-left: -15px;
		margin-right: -15px;
	}

	body.home .our-work h2 {
		margin-top: 10vh;
		font-size: 36px;
		line-height: 36px;
	}
}

@media only screen and (max-width: 538px) {

	body.home .scrolly h2 {
		font-size: 32px;
		line-height: 45px;
	}

	body.home #content {
		background-size: 50% auto;
	}

	body.home .our-work h2 {
		margin-top: 8vh;
		font-size: 30px;
		line-height: 30px;
	}

	body.home .our-work ul {
		display: block;
	}

	body.home .our-work li {
		width: calc(100vw - 30px);
		height: 80px;
		margin-bottom: 10px;
	}

}
