@font-face {
	font-family: 'Proxima Nova';
	font-weight: normal;
	font-style: normal;
	src: url('fonts/ProximaNova-Regular/font.woff2') format('woff2'),
	     url('fonts/ProximaNova-Regular/font.woff') format('woff');
}

@font-face {
	font-family: 'Proxima Nova';
	font-weight: bold;
	font-style: normal;
	src: url('fonts/ProximaNova-Bold/font.woff2') format('woff2'),
	     url('fonts/ProximaNova-Bold/font.woff') format('woff');
}

@font-face {
	font-family: 'Proxima Nova';
	font-weight: normal;
	font-style: italic;
	src: url('fonts/ProximaNova-RegularIt/font.woff2') format('woff2'),
	     url('fonts/ProximaNova-RegularIt/font.woff') format('woff');
}

@font-face {
	font-family: 'Proxima Nova';
	font-weight: bold;
	font-style: italic;
	src: url('fonts/ProximaNova-BoldIt/font.woff2') format('woff2'),
	     url('fonts/ProximaNova-BoldIt/font.woff') format('woff');
}

@font-face {
	font-family: 'Proxima Nova';
	font-weight: 900;
	font-style: normal;
	src: url('fonts/ProximaNova-Black/font.woff2') format('woff2'),
	     url('fonts/ProximaNova-Black/font.woff') format('woff');
}

body {
	font-family: 'Proxima Nova', sans-serif;
	font-size: 18px;
	line-height: 24px;
	background-image: url("../img/bg.jpg");
	background-attachment: fixed;
}

a {
	color: #000;
}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

p {
	margin-bottom: 1em;
}

.container {
	margin: 0 auto;
	max-width: 930px;
	padding: 0 15px;
}

h2 {
	font-weight: 900;
	font-size: 50px;
	line-height: 62px;
}

h3 {
	font-weight: bold;
	font-size: 30px;
	line-height: 42px;
	letter-spacing: 2px;
	margin-bottom: 15px;
	text-align: center;
}

h4 {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 15px;
}

img {
	width: 100%;
	height: auto;
}

ul {
	margin: 1em 0;
}

ul li {
	list-style: circle;
	margin-left: 1.5em;
}

.page-title {
	font-weight: bold;
	font-size: 45px;
	line-height: 45px;
	text-align: center;
	padding: 50px 0 35px 0;
	color: #542D2B;
}

.page-content {
	font-size: 20px;
	line-height: 28px;
	padding-bottom: 40px;
}

.page-content.larger {
	font-size: 28px;
	line-height: 38px;
}

body.error404 .error {
	padding: 40px 0 120px 0;
	min-height: calc(100vh - 190px - 90px);
}

.button {
	background: #fff;
	margin-left: 15px;
	padding: 5px 15px;
	transition: 0.2s all ease-out;
	text-decoration: none;
}

.button:hover {
	text-decoration: none;
	color: #fff;
	background: #000;
}
